doctype html
html
    head
        title Hello from Preact!
        link(rel="stylesheet", href="css/main.min.css")
    body
        .container-fluid
            .row
                .col-md-1.one
                    span ES6
                .col-md-1.two
                    span Python
                .col-md-1.three
                    span Swift
                .col-md-1.four
                    span Flash
        script(src="js/all.js", id="script")