doctype html
html
    head
        title Hello from Preact!
        link(rel="stylesheet", href="css/main.min.css")
    body
        .container
            .row
                h1 Hello!
        script(src="js/all.js")