doctype html
html
    head
        title Hello from Preact!
        link(rel="stylesheet", href="css/main.min.css")
    body
        .container-fluid
            nav.header_navigation
                .container

                    ul.main-navbar
                        li
                            a.logo(href="#") Andrey Menangen
                        li
                            a(href="#") Email me
                        li
                            a(href="#") Github profile

                        li
                            a(href="#") Stackoverflow profile

            .row
                .col-md-1.one
                    .block-center
                        span ES6
                .col-md-1.two
                    .block-center
                        span.python Python
                .col-md-1.three
                    .block-center
                        span.swift Swift
                .col-md-1.four
                    .block-center
                        span.gamedev GameDev

        script(src="js/all.js", id="script")