
@import "bootstrap/colors";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/scaffolding";
@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "bootstrap/normalize";

body {
    background-color: #111;
    color: #000;
}


.container-fluid {
    position: absolute;
    height: 100%;
    width: 100%;

    left: 0;
    top: 0;
}

.header_navigation {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;

    .main-navbar {
        list-style: none;
        > li {
            display: inline-block;
            > a {
                color: #000000;
                text-decoration: none;
                font-family: "Apple Chancery", sans-serif;
                font-size: 20px;
                font-weight: normal;
                &.logo {
                    font-weight: bold;
                    font-size: 25px;
                }
                &:hover {
                    color: #bad4ff;
                }
            }

            &:not(:first-child) {
                margin-left: 70px;
            }
        }
    }

}

.block-center {
    display: block;
    width: 60%;
    height: 20%;
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center;

    span {
        font-size: 80px;
        font-family: AppleMyungjo, sans-serif;
        text-transform: uppercase;
        &.python {
            color: #c7e5ff;
        }
        &.swift {
            color: #ffffff;
        }
        &.gamedev {
            color: #f4ff89;
        }
    }
}

.resized-height { height: inherit; }

.row {
    .resized-height;
}

.one {
    .resized-height;
    
    background-color: #FF0;
}

.two {
    .resized-height;

    background-color: #6c82b3;
}

.three {
    background-color: #F90
}

.four {
    background-color: #54cdaf;
}